.desktopContainer
{
    margin: 2rem 0 4rem 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#introImage
{
    width: 100vw;
}

.text h1, .text h2
{
    color: #FF708D;
    width: 100%;
    text-align: center;
}

.text h1
{
    margin-top: -4rem;
    font-size: 4rem;
}

.text h2
{
    font-size: 2rem;
    margin-top: -2rem;
}

.text p
{
    color: black;
    text-align: center;
}

.text .content
{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.bold
{
    font-weight: bold;
}