.desktopContainer
{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.introBackground
{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    z-index: 1;
}

#introImage
{
    width: 60vw;
    z-index: 0;
}

.text
{
    z-index: 1000;
    position: relative;
}

.introBackground h1
{
    position: absolute;
    background: linear-gradient(180deg, #FF708D 0%, #FF8B37 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;

    text-align: center;
    width: 60%;
    margin-top: -3rem;
    font-size: 3rem;
}

.cardContainer
{
    display: flex;
    justify-content: center;
    margin-left: 10rem;
    margin-right: 10rem;
}

.work h2, .projects h2
{
    color: #FF8B37;
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 3rem;
}

.work, .projects
{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 4rem;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card h3
{
    color: #FF8B37;
    background-color: #FFF2E9;
    border-radius: 20px;
    padding: 0.5rem 1.5rem;
    font-weight: normal;
    width: 100%;
    text-align: center;
}

.bold
{
    font-weight: bold;
}

.orange
{
    color: #FF8B37;
}

.italic
{
    font-style: italic;
}