.desktopContainer#about
{
    display: flex;
    justify-content: center;
    background-color: #FFF0F3;
    border-radius: 100px 100px 0px 0px;
    height: fit-content;
    width: 100%;
    color: #FF708D;
    margin-top: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

#about .aboutWrapper
{
    width: 75%;
    display: flex;
    justify-content: center;
}

#about .text
{
    width: 60%;
    padding-right: 2rem;
}

#about .text h1
{
    font-size: 5rem;
    color: #FF708D;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 7rem;
}

#about .text h3
{
    display: inline;
    font-size: 1.5rem;
}

#about .text p
{
    font-size: 1rem;
    margin-top: 1rem;
}

.bold
{
    font-weight: bold;
}

#about a
{
    border-radius: 50px;
    padding: 1rem 2rem;
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 7rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

#about a:hover
{
    transform: scale(1.025);
    border-width: 2.5px;
}

.buttonWrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8rem;
    margin-top: 4rem;
}

.image
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#about .image img
{
    height: 30rem;
    z-index: 1;
}

#about #softdevCircle
{
    position: absolute;
    top: 0;
    right: 0;
    height: 12.5rem;
    margin-right: -5rem;
    margin-top: 2rem;
    z-index: 0;
    -webkit-animation:rotate 20s linear infinite;
    -moz-animation:rotate 20s linear infinite;
    animation:rotate 20s linear infinite;
}

@keyframes rotate
{
    100% 
    { 
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg); 
    }
}

@-webkit-keyframes rotate
{
    100% 
    { 
        -webkit-transform: rotate(360deg); 
    }
}

@-moz-keyframes rotate
{
    100% 
    { 
        -moz-transform: rotate(360deg); 
    }
}