.desktopContainer
{
    margin: -4rem 0 0 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: fit-content;
}

.contactContainer
{
    border-radius: 0 0 100px 100px;
    background-color: #F5F8FF;
    width: 100vw;
    height: 93.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.introBackground
{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-top: -3rem;
    z-index: 1;
}

.human
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem 0 8rem 0;
}

#image
{
    height: 14rem;
    z-index: 1;
    margin: 0 auto 1rem auto;
}

#letsGetInTouch
{
    color: white;
    font-size: 9.15rem;
    overflow-x: visible;
    white-space: nowrap;
    margin-left: -1rem;
    margin-top: -4.5rem;
    padding-right: 1rem;
    overflow: hidden;
    width: 0;
    animation: typing 4s forwards;
    animation-delay: 0s;
    text-align: center;
    z-index: -1;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.introBackground h2
{
    margin-top: -10rem;
    font-size: 2.5rem;
    color: #5685FF;
    text-align: center;
    width: 100%;
    z-index: 1;
}

.introBackground h3
{
    font-size: 1.2rem;
    color: #5685FF;
    text-align: center;
    width: 100%;
    margin-top: -2rem;
    font-weight: normal;
    z-index: 1;
}

.buttons
{
    display: flex;
    justify-content: center;
    padding-bottom: 1.75rem;
}

.buttons a
{
    background-color: #FFF0F3;
    border: 2px solid #FF708D;
    color: #FF708D;
    font-weight: bold;
    text-align: center;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
    padding: 1.2rem 2rem;
    border-radius: 50px;
    transition: 0.3s all ease-in-out;
}

.buttons a:hover
{
    transform: scale(1.025);
}