/* Desktop */
.desktopContainer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.mobileContainer
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo
{
    font-size: 2.4rem;
}

.navigation ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link
{
    font-size: 1rem;
    padding-left: 30px;
    padding-right: 30px;
    transition: all 0.3s ease-in-out;
}

.link:hover
{
    text-decoration: underline;
}

.underline
{
    text-decoration: underline;
}

.nav
{
    color: red;
}

.active
{
    text-decoration: underline;
}