/* Desktop */

.desktopContainer#intro
{
    margin: 4rem 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.introBackground
{
    margin-top: 4rem;
}

.introSlide
{
    display: flex;
    width: 100%;
    margin-top: -20rem;
}

.introSlide .text
{
    display: flex;
    flex-direction: column;
    line-height: 1rem;
    width: 50%;
    padding-left: 6rem;
}

.introSlide h6
{
    font-weight: normal;
    margin-bottom: -0.35rem;
    font-size: 1.2rem;
}

.introSlide h1
{
    color: black;
    font-size: 8rem;
    margin-left: -0.5rem;
}

.introSlide p
{
    color: #373737;
    font-size: 1.2em;
    margin-top: -1rem;
    line-height: 1.5rem;
    width: 75%;
}

.sliders
{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 4rem;
}

.slider
{
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    background-color: #DBE5FF;
    margin-right: 1.3rem;
}

.slider.active
{
    background-color: #5685FF;
}

.introSlide .image
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.introSlide #developer
{
    height: 20rem;
    margin-bottom: 2.5rem;
}

/* Mobile */

.mobileContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#developer
{
    height: 12rem;
}

.introText
{
    margin-top: -3rem;
    margin-bottom: 2rem;
}

.introText h1
{
    font-size: 2rem;
    margin: 0;
    padding: 0;
}

.introText p
{
    padding-left: 4rem;
    padding-right: 4rem;
    z-index: 100;
}

.bold
{
    font-weight: bold;
}

.socials .iconify
{
    color: #5685FF;
    height: 1.7rem;
    padding-left: 0.05rem;
    padding-right: 0.05rem;
}