@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,700;1,400&display=swap');

html, body
{
  height: 100vh;
  max-width:100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Be Vietnam Pro", Arial;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  scroll-behavior: smooth;
}

a
{
  text-decoration: none;
  color: black;
}

li
{
  list-style: none;
}

body
{
  overflow-x: hidden;
}

