.desktopContainer
{
    margin: -5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.introBackground
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #F5F8FF;
    width: 100%;
    height: 100%;
    border-radius: 0 0 100px 100px;
    padding-bottom: 1rem;
    color: #5685FF;
    text-align: center;
    padding-top: 5rem;
    margin-bottom: 1rem;
}

.introBackground h2
{
    font-size: 4rem;
    font-weight: bold;
    margin-top: 0rem;
}

.introBackground h3
{
    font-size: 1.2rem;
    font-weight: normal;
    margin-top: -3rem;
}

.cardContainer
{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
    margin-top: 2rem;
    width: 50%;
}

.gitHubButton
{
    color: #5685FF;
    font-weight: bold;
    text-decoration: underline;
    font-size: 1.4rem;
    margin-bottom: 2rem;
    transition: 0.3s all ease-in;
}

.gitHubButton:hover
{
    transform: scale(1.025);
}